@font-face {
   font-family: 'FuturaLT';
   src: url('font-awesome-4.7.0/fonts/FuturaLT.ttf') format('truetype');
   font-weight: 50;
   font-style: normal;
 }
#chat-widget {
    font-family: FuturaLT;
    src:url(" font-awesome-4.7.0/fonts/FuturaLT.ttf");
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    z-index: 9999;
}

#chat-widget .chat-widget-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 25vw;
    margin-bottom: 20px;
    box-shadow: 0 0 15px;
    border-radius: 10px;
    overflow: hidden;

}

#chat-widget .chat-widget-header {
    height: 67px;
    background-color: rgba(0, 165, 245,1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 11px 12px;

}

#chat-widget .chat-widget-assistant-status {
    display: flex; 100755 src/img/wong-ico-logo.png
root@
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}

#chat-widget .chat-widget-assistant-status img {
    width: 43%;

}

#chat-widget .chat-widget-assistant-name {
    color: white;
    font-size: 1.15em;


    /*TITULO*/
}

#chat-widget .chat-widget-message-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}
#chat-widget .chat-widget-message-container-received {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

#chat-widget .chat-widget-header-buttons {
    width: 20%;
    text-align: right;

}

#chat-widget .chat-widget-header-buttons .close-button {
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    font-size: 30px;
}

#chat-widget .chat-widget-header-buttons .close-button:hover {
    color: gray;
;
}
#chat-widget .circle {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}

#chat-widget .chat-widget-online-header
{
  color: #bfbfbf;
  font-weight: bold;
  font-size: 0.8em;


}
#chat-widget .chat-widget-point-online-header
 {
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #0bef0b;
        border: 1px solid rgba(0, 0, 0, .5);
        margin-right: .5em;
}



#chat-widget .chat-widget-message-log {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(241,234,228);
}

#chat-widget .chat-widget-message-dock {
    display: flex;
    background-color: white;
    border: solid #E6E6E6 10px ;
    flex-direction: row;
    align-items: stretch;
    width: 95%;
    height: 60px;
}

@keyframes pulse {
    from {box-shadow: 0 0 10px #000}
    50% {box-shadow: 0 0 20px #000}
    to {box-shadow: 0 0 10px #000}
}

#chat-widget .chat-widget-avatar {
    background-color: yellow;
    border-radius: 100%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 90px;
    height: 90px;
}

#chat-widget .chat-widget-message-input {
    display: block;
    overflow: hidden;
    box-sizing: padding-box;
    flex-grow: 2;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
}

#chat-widget .chat-widget-message-dock button[type="submit"] {
    background-color:deepskyblue;
    /*border-radius: 50%;*/
    border: deepskyblue;
    height:39px;
    width:60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-block-start: 9px;
    margin-right: 1px;
    margin-top: 0.3%;
    color: white;
}
#chat-widget .chat-widget-message-dock button fondo {
    background-color: #E6E6E6;

}

#chat-widget .chat-widget-message-dock button[type="submit"]:hover {
    background-color: rgb(11, 175, 255); /*BOTON ENVIAR*/
}

#chat-widget .chat-widget-message {
    padding: 10px 20px;
    max-width: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#chat-widget .chat-widget-message.received {
  /*  background-image: url("src/img/wong-ico-user.png");
    background-position-x: left;
    background-repeat: no-repeat;*/
    align-self: flex-start;
    text-align: left;
    border-bottom-right-radius: 10px;
    background-color: darkgray;/*aca*/
    color: white;
    padding-left: 20px;
    margin-left: 8px;
}

#chat-widget .chat-widget-message.sent {
    align-self: flex-end;
    text-align: right;
    border-bottom-left-radius: 10px;
    background-color: deepskyblue;/*rgb(226, 255, 201);*/
    border: solid rgb(225,242,207) 1px;
    color: rgb(255,255,255); /*color texto*/
    margin-right: 8px;

}

#chat-widget .chat-widget-avatar-message {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;
}
#chat-widget .circulo {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     background: white;
     border: solid red 3px ;
     color:red;
     align-items: center;
     display: flex;
     justify-content: center;
     margin-right: 10px;

}

#chat-widget .chat-widget-header-buttons .close-button
{
      display: none;
}
#chat-widget .chat-widget-header-buttons .close-button {
    display: initial;
}
#chat-widget .chat-widget-avatar.close-button {
    display: none;

}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {
    /* phones */
    #chat-widget {
        bottom: 0;
        right: 0;
    }
    #chat-widget .chat-widget-avatar-message {
      height: 50px;
      width: 50px;
      margin-left: 10px;
      border-radius: 50%;
    }
    #chat-widget .chat-widget-avatar {
        margin-bottom: 10px;
        margin-right: 10px;
    }



    #chat-widget .chat-widget-avatar.close-button {
        display: none;

    }

    #chat-widget .chat-widget-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: initial;
        overflow: hidden;
    }

    #chat-widget .chat-widget-header-buttons .close-button {
        display: initial;


    }
}
